<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>NSCameraUsageDescription</key>
	<string>This app requires camera access to take photos for demonstration purposes.</string>
	<key>NSFaceIDUsageDescription</key>
	<string>This app uses Face ID for authentication demonstration.</string>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict/>
	</dict>
	<key>UILaunchScreen</key>
	<dict/>
	<key>SplunkRUMRealm</key>
	<string>$(SPLUNK_RUM_REALM)</string>
	<key>SplunkRUMAccessToken</key>
	<string>$(SPLUNK_RUM_ACCESS_TOKEN)</string>
	<key>SplunkRUMEnvironment</key>
	<string>$(SPLUNK_RUM_ENVIRONMENT)</string>
	<key>SplunkHECURL</key>
	<string>$(SPLUNK_HEC_URL)</string>
	<key>SplunkHECToken</key>
	<string>$(SPLUNK_HEC_TOKEN)</string>
</dict>
</plist>
